.root {
  display: grid;
  grid-template-rows: 1fr auto;

  min-height: 0;
  max-height: 100%;
}

.constructor {
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 0;
  max-height: 100%;
}

.constructorBase {
  padding-right: 16px;
  padding-left: 32px;

  position: relative;
}

.constructorBase > div {
  display: block;
  max-width: 536px;
}

.constructorBase > div > span > span:first-of-type {
  flex-grow: 1;
}

.constructorList {
  overflow-y: auto;
  padding-right: 8px;
}

.constructorList::-webkit-scrollbar {
  width: 8px;
}

.constructorList::-webkit-scrollbar-track {
  background: #2f2f37;
}

.constructorList::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.summaryPrice {
  display: inline-flex;
  align-items: center;
}

.summaryPrice > svg {
  width: 33px;
  height: 33px;
  margin-left: 8px;
}