.ordersList {
  margin: 0;
  padding: 0;
  list-style: none;

  overflow-y: auto;
}

.ordersList::-webkit-scrollbar {
  width: 8px;
}

.ordersList::-webkit-scrollbar-track {
  background: #2f2f37;
}

.ordersList::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.ordersItem {
  cursor: pointer;
}

.ordersItem + .ordersItem {
  margin-top: 16px;
}