.content {
  display: grid;
  grid-template-columns: 380px 1fr;

  min-height: 0;
  max-height: 100%;
}

.sidebar {
  padding-right: 60px;
}

.details {
  display: grid;
  min-height: 0;
  max-height: 100%;
}

.form {
  max-width: 480px;
}

.nav {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navItem {
  margin: 0;
  padding: 17px 0;
}

.link {
  text-decoration: none;
  color: #8585ad;
}

.link.active {
  color: #f2f2f3;
}

.notice {
  color: rgba(133,133,173,.4);
}

.inputWrapper > div {
  width: 100%;
}

.inputWrapper > div > div {
  width: 100%;
}

.inputWrapper > div > div > div {
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
}

.ordersListContainer {
  min-height: 0;
  max-height: 100%;
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;
}

.ordersListContainer::-webkit-scrollbar {
  width: 8px;
}

.ordersListContainer::-webkit-scrollbar-track {
  background: #2f2f37;
}

.ordersListContainer::-webkit-scrollbar-thumb {
  background: #8585ad;
}