.root {
  display: grid;
  grid-template-rows: auto 1fr;

  height: 100vh;
  min-height: 700px;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;

  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  min-height: 0;
  max-height: 100%;
  width: 100%;
  max-width: 1280px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;

  min-height: 0;
  max-height: 100%;
}
